################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ОАИП/Code/labrab10/main
/ОАИП/Code/labrab12/main/.vs/main/v17
/ОАИП/Code/labrab12/main/main/x64/Debug
/ОАИП/Code/labrab12/main/x64/Debug
/ОАИП/Лабораторная работа №14.rtf
/ОАИП/Лабораторная работа №13.rtf
/ОАИП/Лабораторная работа №12.rtf
/ОАИП/Лабораторная работа №11.rtf
/ОАИП/Лабораторная работа №10.pdf
/ОАИП/~$бораторная работа №12.rtf
/ОАИП/Code/labrab12/main/.vs/main/FileContentIndex
/ОАИП/Code/labrab13/main/x64/Debug
/ОАИП/Code/labrab13/main/.vs/main
/ОАИП/Code/labrab13/main/main/x64/Debug
/ОАИП/Code/.vs
/ОАИП/Code/labrab14/z1/.vs/z1
/ОАИП/Code/labrab14/z1/x64/Debug
/ОАИП/Code/labrab14/z1/z1/x64/Debug/z1.tlog
/ОАИП/Code/labrab14/z1/z1/x64/Debug
/ОАИП/~$brab14.docx
/ОАИП/~$бораторная работа №14.rtf
/ОАИП/~WRL0818.tmp
