################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ОАИП/Code/labrab10/main
/ОАИП/Code/labrab12/main/.vs/main/v17
/ОАИП/Code/labrab12/main/main/x64/Debug
/ОАИП/Code/labrab12/main/x64/Debug
/ОАИП/Лабораторная работа №14.rtf
/ОАИП/Лабораторная работа №13.rtf
/ОАИП/Лабораторная работа №12.rtf
/ОАИП/Лабораторная работа №11.rtf
/ОАИП/Лабораторная работа №10.pdf
/ОАИП/~$бораторная работа №12.rtf
/ОАИП/Code/labrab12/main/.vs/main/FileContentIndex
