################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ОАИП/Code/labrab10/main
/ОАИП/Code/labrab12/main/.vs/main/v17
/ОАИП/Code/labrab12/main/main/x64/Debug
/ОАИП/Code/labrab12/main/x64/Debug
